<h1 class="page-header">APTpoints</h1>

<div class="table-responsive">
    <table class="table table-hover table-striped">
        <tr>
            <th>User</th>
            <th>Points</th>
            <th>Under vote</th>
            <th>Actions</th>
        </tr>
        <tr *ngFor="let item of userPointsList" class="active">
            <td>{{ item.userId }}</td>
            <td>{{ item.points }}</td>
            <td>{{ item.underVote }}</td>
            <td>
                <button  type="button" class="btn btn-info btn-sm" *ngIf="buttonsList[0]" (click)="startVote(item.userId)">Start vote+</button>
                <button  type="button" class="btn btn-primary btn-sm" *ngIf="buttonsList[1]" (click)="addVoucher(item.userId)">Vouch+</button>
                <button  type="button" class="btn btn-primary btn-sm" *ngIf="buttonsList[2]" (click)="removeVoucher(item.userId)">Reset+</button>
                <br>
                <button  type="button" class="btn btn-info btn-sm" *ngIf="buttonsList[0]" (click)="startRmvVote(item.userId)">Start vote-</button>
                <button  type="button" class="btn btn-primary btn-sm" *ngIf="buttonsList[3]" (click)="addRmvVoucher(item.userId)">Vouch-</button>
                <button  type="button" class="btn btn-primary btn-sm" *ngIf="buttonsList[4]"(click)="addVoucher(item.userId)">Reset-</button>
                <button  type="button" class="btn btn-primary btn-sm" *ngIf="false" (click)="refreshUserData(item, item.userId)">Refresh</button>
            </td>
        </tr>
        <p>Output: {{getData}}</p>
        <button  type="button" class="btn btn-primary btn-sm" (click)="refreshData()">Refresh Data</button>
        <button  type="button" class="btn btn-primary btn-sm" (click)="refreshButtons()">Refresh Buttons</button>
    </table>
</div>
