.modal-dialog {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.modal-backdrop {
    display: none;
}

.navbar {
    transition: unset;
}

a.navbar-toggle.logout {
    color: #FFFFFF;
    padding-top: 2px;
    padding-bottom: 0;
}

.main-raised {
    padding-top: 150px;
}

.user-container {
    position: relative;
}

.loading-animation {
    position: absolute;
    z-index: 1;
    left: calc(50% - 25px);
    top: 15px;
}

.loading-animation img {
    width: 50px;
    opacity: 0.5;
}

.point-balls {
    margin-right: 15px;
}

.point-balls .ball {
    position: relative;
    margin: 4px 10px 4px 0;
}

.point-balls .slide-icon {
    position: absolute;
    left: 1.5%;
    top: 28px;
    opacity: 0.1;
}

.point-balls .slide-icon-right {
    left: auto;
    right: 1.5%;
}

.point-balls .under-vote {
    position: absolute;
    top: calc(50% - 10px);
    width: 100%;
    height: 20px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
}

.upVoting .under-vote {
    color: white;
}

.user-entry {
    position: relative;
    z-index: 2;
}

.user-entry .user-name {
    max-width: 50%;
}

.inactive {
    opacity: 0.25;
}
